/* header */
.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.header a {
  color: #000;
}

/* 좌측 로고 style  */

.logo a img {
  width: 129px;
  height: 57px;
}

.logo {
  height: 90px;
  display: flex;
  align-items: center;
}

/* header 중앙 GNB style 입니다. */

nav {
  height: 90px;
}

nav > ul {
  font-size: 16px;
}

.dep1_ul {
  height: 100%;
  display: flex;
  position: relative;
}

.dep1_ul > li {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dep2_ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 150px;
  background: #fff;
}

.dep1_li:hover .dep2_ul {
  max-height: 200px;
  transition: 1s;
}

.dep2_li {
  margin-bottom: 10px;
}

/* header 우측 ui style 입니다. */

.header_ui {
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
}

.lang {
  height: 100%;
}

.lang a {
  display: flex;
  align-items: center;
  margin-right: 45px;
  height: 100%;
  width: 100%;
}

.lang a svg {
  margin-left: 10px;
}

.lang a ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  background: #fff;
  width: 40px;
  text-align: left;
}

.lang a:hover ul {
  max-height: 200px;
  transition: 1s;
}

.m_btn a {
  display: flex;
  align-items: center;
}

/* ========================================================================== */

/* site_map 스타일입니다. */

.site_map {
  display: none;
}

.site_map_open {
  display: block;
}

/* site_map 의 상단입니다. */

.site_map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 40px 100px;
  /* display: none; */
}

.site_map_upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.site_map_logo {
  width: 25%;
}

.site_map_header_ui {
  width: 25%;
}

.site_map_logo a img {
  width: 129px;
  height: 57px;
}

/* site_map 의 하단입니다. */

.site_map_nav {
  height: 100%;
}

.site_map_dep1_ul {
  display: flex;
  padding-top: 80px;
  text-align: center;
}

.site_map_dep1_li {
  width: 25%;
}

.site_map_dep1_li > a {
  font-size: 16px;
  color: #999;
}

.site_map_dep2_ul {
  padding-top: 25px;
}

.site_map_dep2_li {
  line-height: 2rem;
}

.site_map_dep2_li > a {
  font-size: 16px;
  color: #000;
}

/* ========================================================================== */
/* about.css */

:root {
  --main-color: #fff;
  --bg-color: #f7f7f7;
}

h1 {
  font-size: 50px;
  font-weight: 500;
}

h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}

.container {
  max-width: 1520px;
  /* background-color: #ccc; */
  margin: 0 auto;
  position: relative;
}

/* main-visual */
.main-visual {
  max-width: 100%; /*1920px-container*/
  height: 500px;
  /* background-color: tomato; */
  background-image: url(../images/imagesM/about/main-visual.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-visual p {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
}
/* lnb */
#intro .container .Lnb {
  display: flex;
  margin-top: 25px;
  font-size: 14px;
}
#intro .container .Lnb img {
  margin-right: 1em;
}
#intro .container .Lnb .lnb-color {
  color: #023586;
}

/* intro */

#intro .container .intro-text-box {
  padding: 155px 0px 150px 0px;
}
#intro .container .intro-text-box .mark {
  width: 150px;
  height: 3px;
  background-color: #a2c233;
}
#intro .container .intro-text-box h1 {
  margin-bottom: 45px;
}
#intro .container .intro-text-box p {
  font-size: 30px;
  font-weight: 400;
}

/* vision */

#vision .vision-bg1 {
  background-color: var(--bg-color);
}
#vision .vision-bg2 {
  background-color: var(--main-color);
}

#vision .container .menu {
  border-top: 3px solid #a2c233;
  display: inline-block;
  margin-top: 150px;
  margin-bottom: 88px;
}
#vision .container h2 {
  font-size: 26px;
  font-weight: 700;
}

#vision .container p {
  font-size: 18px;
  line-height: 40px;
  margin-top: 30px;
}

/* sec1-box */
#vision .container .section1 {
  padding-bottom: 150px;
  /* background-color: goldenrod; */
}

#vision .container .section1 .sec1-box {
  width: 100%;
  height: 694px;
  display: flex;
  /* background-color: beige;
  border: 1px solid red; */
  position: relative;
}

#vision .container .section1 .sec1-box .img-box1 {
  position: absolute;
  bottom: 0;
}

#vision .container .section1 .sec1-box .text-box {
  width: 622px;
  height: 265px;
  position: absolute;
  bottom: 77px;
  right: 0;
}

/* sec2-box */
#vision .container .section2 {
  padding: 150px 0px;
  /* background-color: pink; */
}

#vision .container .section2 .sec2-box {
  height: 737px;
  width: 100%;
  display: flex;
  /* background-color: blanchedalmond;
  border: 1px solid red; */
  position: relative;
}

#vision .container .section2 .sec2-box .img-box2 {
  position: absolute;
  right: 0;
  bottom: 0;
}

#vision .container .section2 .sec2-box .text-box {
  width: 623px;
  height: 230px;
  position: absolute;
  bottom: 119px;
  /* background-color: red; */
}
#vision .container .section2 .sec2-box .text-box .text-box2 {
  width: 622px;
  height: 80px;
  /* background-color: red; */
}

/* sec3 */
#vision .container .section3 {
  padding: 150px 0px;
  /* background-color: palegreen; */
}
#vision .container .section3 .sec3-box {
  height: 790px;
  width: 100%;
  display: flex;
  /* background-color: powderblue;
  border: 1px solid red; */
  position: relative;
}

#vision .container .section3 .sec3-box .img-box1 {
  position: absolute;
  bottom: 0;
}

#vision .container .section3 .sec3-box .text-box {
  width: 622px;
  height: 230px;
  position: absolute;
  bottom: 143px;
  right: 0;
  /* background-color: #a2c233; */
}

/* contact */
#contact .container .contact-bg {
  margin-bottom: 300px;
}

#contact .container .menu {
  border-top: 3px solid #a2c233;
  display: inline-block;
  margin-top: 150px;
  margin-bottom: 88px;
}

#contact .container .map-text-box {
  margin-top: 56px;
}

#contact .container .map-text-box .map-text {
  display: flex;
  margin-bottom: 30px;
}
#contact .container .map-text-box .map-text h3 {
  font-size: 30px;
  font-weight: 400;
  margin-left: 41px;
}
#contact .container .map-text-box .map-text p {
  font-size: 20px;
}

#contact .container .map-text-box .map-text .txt2 {
  margin-left: 181px;
}
#contact .container .map-text-box .map-text .txt3 {
  margin-left: 155px;
}
#contact .container .map-text-box .map-text .txt4 {
  margin-left: 126px;
}

/* footer 박스의 style 입니다. */

.footer {
  height: 220px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

/* footer 의 왼쪽 영역입니다. */

.footer_left {
  padding: 26px 0 48px 300px;
}

.footer_left_upper {
  height: 67px;
  display: flex;
}

.footer_left_upper a img {
  width: 152px;
  height: 67px;
}

.footer_left_info_1 {
  display: flex;
  padding: 24px 0 0 39px;
}

.footer_left_upper a {
  color: #000;
}

.footer_left_info_1 p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.footer_left_info_1 p:last-child {
  font-size: 14px;
  margin-left: 33px;
}

.footer_left_info_2 {
  margin-top: 35px;
  font-size: 12px;
}

/* footer 의 오른쪽 영역입니다. */

.footer_right {
  padding: 41px 300px 77px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sns_btn {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.family_site {
  width: 204px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
