/* 초기화 설정입니다. */

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  /* width: 100vw;
  height: 100vh; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* header 박스 style 입니다. */

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.header a {
  color: #000;
}

/* header 좌측 로고 style 입니다. */

.logo a img {
  width: 129px;
  height: 57px;
}

.logo {
  height: 90px;
  display: flex;
  align-items: center;
}

/* header 중앙 GNB style 입니다. */

nav {
  height: 90px;
}

nav > ul {
  font-size: 16px;
}

.dep1_ul {
  height: 100%;
  display: flex;
  position: relative;
}

.dep1_ul > li {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dep2_ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 150px;
  background: #fff;
}

.dep1_li:hover .dep2_ul {
  max-height: 200px;
  transition: 1s;
}

.dep2_li {
  margin-bottom: 10px;
}

/* header 우측 ui style 입니다. */

.header_ui {
  height: 90px;
  display: flex;
  align-items: center;
}

.lang a {
  display: flex;
  align-items: center;
  margin-right: 45px;
}

.lang a img {
  padding-left: 10px;
}

.m_btn a {
  display: flex;
  align-items: center;
}
/* footer 박스의 style 입니다. */

.footer {
  margin-top: 300px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

/* footer 의 왼쪽 영역입니다. */

.footer_left {
  padding: 26px 0 48px 300px;
}

.footer_left_upper {
  height: 67px;
  display: flex;
}

.footer_left_upper a img {
  width: 152px;
  height: 67px;
}

.footer_left_info_1 {
  display: flex;
  padding: 24px 0 0 39px;
}

.footer_left_upper a {
  color: #000;
}

.footer_left_info_1 p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.footer_left_info_1 p:last-child {
  font-size: 14px;
  margin-left: 33px;
}

.footer_left_info_2 {
  margin-top: 35px;
  font-size: 12px;
}

/* footer 의 오른쪽 영역입니다. */

.footer_right {
  padding: 41px 300px 77px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sns_btn {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.family_site {
  width: 204px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
