/* marketing.css */
/* reset.css */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

/* header */
.header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
}

.header a {
  color: #000;
}

/* 좌측 로고 style 입니다. */

.logo a img {
  width: 129px;
  height: 57px;
}

.logo {
  height: 90px;
  display: flex;
  align-items: center;
}

/* header 중앙 GNB style 입니다. */

nav {
  height: 90px;
}

nav > ul {
  font-size: 16px;
}

.dep1_ul {
  height: 100%;
  display: flex;
  position: relative;
}

.dep1_ul > li {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dep2_ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  width: 150px;
  background: #fff;
}

.dep1_li:hover .dep2_ul {
  max-height: 200px;
  transition: 1s;
}

.dep2_li {
  margin-bottom: 10px;
}

/* header 우측 ui style 입니다. */

.header_ui {
  height: 90px;
  display: flex;
  align-items: center;
  position: relative;
}

.lang {
  height: 100%;
}

.lang a {
  display: flex;
  align-items: center;
  margin-right: 45px;
  height: 100%;
  width: 100%;
}

.lang a svg {
  margin-left: 10px;
}

.lang a ul {
  max-height: 0;
  overflow: hidden;
  position: absolute;
  top: 100%;
  background: #fff;
  width: 40px;
  text-align: left;
}

.lang a:hover ul {
  max-height: 200px;
  transition: 1s;
}

.m_btn a {
  display: flex;
  align-items: center;
}

/* ========================================================================== */

/* site_map 스타일입니다. */

.site_map {
  display: none;
}

.site_map_open {
  display: block;
}

/* site_map 의 상단입니다. */

.site_map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding: 40px 100px;
  /* display: none; */
}

.site_map_upper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.site_map_logo {
  width: 25%;
}

.site_map_header_ui {
  width: 25%;
}

.site_map_logo a img {
  width: 129px;
  height: 57px;
}

/* site_map 의 하단입니다. */

.site_map_nav {
  height: 100%;
}

.site_map_dep1_ul {
  display: flex;
  padding-top: 80px;
  text-align: center;
}

.site_map_dep1_li {
  width: 25%;
}

.site_map_dep1_li > a {
  font-size: 16px;
  color: #999;
}

.site_map_dep2_ul {
  padding-top: 25px;
}

.site_map_dep2_li {
  line-height: 2rem;
}

.site_map_dep2_li > a {
  font-size: 16px;
  color: #000;
}

/* ========================================================================== */
/* Marketing */

:root {
  --main-color: #fff;
  --bg-color: #f7f7f7;
}

.container {
  max-width: 1520px;
  /* background-color: #ccc; */
  margin: 0 auto;
  position: relative;
}

/* .sub-title */
.sub-title {
  max-width: 100%; /*1920px-container*/
  height: 500px;
  /* background-color: tomato; */
  background-image: url(../images/imagesM/marketing/sub-tilte.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.sub-title p {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
}

/* news */

/* lnb */
#news .container .Lnb {
  display: flex;
  margin-top: 25px;
  font-size: 14px;
}
#news .container .Lnb img {
  margin-right: 1em;
}
#news .container .Lnb .lnb-color {
  color: #023586;
}

/* menu */
#news .container .menu {
  border-top: 3px solid #a2c233;
  display: inline-block;
  margin-top: 155px;
  margin-bottom: 150px;
}
#news .container .menu h1 {
  font-size: 35px;
  font-weight: 400;
}

/* section1 */
#news .container .section1 ul {
  /* background-color: palegreen; */
  display: flex;
  justify-content: space-between;
}
#news .container .section1 ul li {
  /* border: 2px solid red; */
  height: 575px;
  width: calc((100% - 85px) / 3);
  position: relative;
  /* calc((전체크기 - 여백(칼럼 수-1) / 칼럼 수  */
}
#news .container .section1 ul li img {
  width: 100%;
}

/* news-box */
#news .container .section1 ul .news h3 {
  margin: 20px 0px;
  font-size: 16px;
  font-weight: 400;
}
#news .container .section1 ul .news h2 {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 400;
}
#news .container .section1 ul .news p {
  font-size: 18px;
  font-weight: 400;
}
#news .container .section1 ul .news .news-date {
  color: #666666;
  font-size: 13px;
  margin-top: 37px;
}

/* dial */

#news .container .dial {
  /* outline: 1px solid blue; */
  margin-top: 150px;
  margin-bottom: 100px;
}

#news .dial .numbers {
  /* outline: 1px solid #000; */
  display: flex;
  justify-content: center;
  font-size: 14px;
}
#news .dial .numbers button {
  color: #000;
  background-color: transparent;
  border: none;
}
#news .dial .numbers a {
  margin-left: 28px;
  margin-right: 26px;
}
#news .dial .numbers .leftMax {
  margin-left: 26.5px;
}
#news .dial .numbers .left {
  margin-left: 20px;
}
#news .dial .numbers .right {
  margin-left: 20px;
}
#news .dial .numbers .rightMax {
  margin-left: 26.5px;
}

/* footer 박스의 style 입니다. */

.footer {
  margin-top: 50px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
}

/* footer 의 왼쪽 영역입니다. */

.footer_left {
  padding: 26px 0 48px 300px;
}

.footer_left_upper {
  height: 67px;
  display: flex;
}

.footer_left_upper a img {
  width: 152px;
  height: 67px;
}

.footer_left_info_1 {
  display: flex;
  padding: 24px 0 0 39px;
}

.footer_left_upper a {
  color: #000;
}

.footer_left_info_1 p:first-child {
  font-size: 14px;
  font-weight: bold;
}

.footer_left_info_1 p:last-child {
  font-size: 14px;
  margin-left: 33px;
}

.footer_left_info_2 {
  margin-top: 35px;
  font-size: 12px;
}

/* footer 의 오른쪽 영역입니다. */

.footer_right {
  padding: 41px 300px 77px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.sns_btn {
  width: 170px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.family_site {
  width: 204px;
  border-top: 1px solid #000;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
}
