/* sub_2_0_mobile.css */
/* reset.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Noto Sans KR", sans-serif;
  }
  
/* header 박스 style 입니다. */

.header {
    width: 100vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  /* header 좌측 로고 style 입니다. */
  
  .logo a img {
    width: 64px;
    height: 28px;
  }
  
  .logo {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  /* header nav 입니다. */
  
  .header_nav {
    display: none;
  }
  
  /* header 우측 ui style 입니다. */
  
  .header_ui {
    height: 50px;
    display: flex;
    align-items: center;
  }
  
  .lang {
    display: none;
  }
  
  .m_btn a {
    display: flex;
    align-items: center;
  }
  
  /* ========================================================================== */
  
  /* site_map 입니다. */
  
  .site_map {
    display: none;
  }
  
  .site_map_open {
    display: block;
  }
  
  /* site_map 의 상단입니다. */
  
  .site_map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 30px;
  }
  
  .site_map_upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .site_map_logo a img {
    width: 64px;
    height: 28px;
  }
  
  /* site_map 의 하단입니다. */
  
  .site_map_nav {
    height: 100%;
  }
  
  .site_map_dep1_ul {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    text-align: left;
  }
  
  .site_map_dep1_li {
    margin-top: 30px;
    border-bottom: 1px solid #666;
  }
  
  .site_map_dep1_li > a {
    font-size: 20px;
    color: #999;
  }
  
  .site_map_dep2_ul {
    max-height: 0;
    overflow: hidden;
    margin-top: 5px;
  }
  
  .site_map_dep2_li {
    margin-top: 10px;
  }
  
  .site_map_dep2_li > a {
    font-size: 20px;
    color: #000;
  }
  
  .site_map_dep1_li:hover > ul {
    max-height: 200px;
    transition: 1s;
  }
  
  /* ========================================================================== */
/* footer 박스의 style 입니다. */

.footer {
    margin-top: 100px;
    height: 223px;
    display: flex;
    /* justify-content: space-between; */
    border-top: 1px solid #ccc;
    padding: 20px;
  }
  
  /* footer 의 왼쪽 영역입니다. */
  
  .footer_left_upper a img {
    display: none;
  }
  
  .footer_left_upper a {
    color: #000;
  }
  
  .footer_left_info_1 p:first-child {
    font-size: 14px;
    font-weight: bold;
  }
  
  .footer_left_info_1 p:last-child {
    font-size: 14px;
    margin-top: 5px;
  }
  
  .footer_left_info_2 {
    margin-top: 30px;
    font-size: 12px;
    width: 80%;
  }
  
  /* footer 의 오른쪽 영역입니다. */
  
  .footer_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 21px;
    width: 116px;
  }
  
  .sns_btn {
    width: 170px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .family_site {
    display: none;
  }

/* sub_main_ banner */
.sub_2 .sub_main_banner {
    width: 100vw;
    height: 300px;
    background-color: #ccc;
}
.sub_main_banner .container {
    width: 100%;
    height: 100%;
    background-image: url(../images/imagesK/mobileK/mobile_sub2_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub_main_banner .container h1 {
    color: white;
    font-size: 40px;    
}

/* sub_menu */
.sub_2 .sub_menu {
    margin-top: 20px;
    max-width: 1520px;
    height: 20px;
    display: fixed;
    left:0px;
    top: 520px;
    padding: 20px;
    padding: 0 20px;
    
}
.sub_2 .sub_menu > a{
    font-size: 14px;
    color: #000;
}

/* sub_title */
.sub_2 .sub_title {
    width: 100%;
    height: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 30px;
    /* outline: 1px solid red; */
}
.sub_2 .sub_title .container {
    max-width: 1920px;
    height: 100%;
    margin-top: 50px;
    position: relative;
    /* outline: 1px solid blue; */
    display: flex;
    flex-direction: column;
}
.sub_2 .sub_title .container .text {
    max-width:1520px;
    position: relative;
}
.sub_2 .sub_title .container .text .mark {
    width: 130px;
    height: 3px;
    background-color: #a2c233;
    position: absolute;
    left: 0;
}
.sub_2 .sub_title p {
    font-size: 15px;
    padding-top: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.sub_2 .sub_title .pc_img {
    display: none;
}
.sub_2 .sub_title .mobile_img {
    width: 100%;
    height: 300px;
    /* margin-bottom: 100px; */
} 

/* 연구소 소개 */
#center {
    /* margin-top: 100px; */
    width: 100vw;
    height: 400px;
    background-color: #f7f7f7;
    padding: 0 20px;
    /* outline: 1px solid red; */
}
#center .container {
    max-width: 1920px;
    height: 100%;
    /* outline: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#center .container .text {
    width: 100%;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    /* outline: 1px solid red; */
}
#center .container .mark {
    width: 130px;
    height: 3px;
    background-color: #a2c233;
    position: absolute;
    left: 5px;
}
#center .container h1 {
    font-size: 26px;
    font-weight: 500;
}
#center .container .pc_img {
    display: none;
}

#center .container .mobile_img {
    margin-bottom: 50px;
    width: 100%;
}

/* 제품 개발 */
.sub_2 #pm {
    width: 100vw;
    height: 1700px;
    /* margin-bottom: 50px; */
    margin-top: 50px;
    /* outline: 1px solid red; */
    padding: 0 20px;
}
#pm .container {
    max-width: 1920px;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}
#pm .container .text {
    width: 100%;
    position: relative;
    /* margin-bottom: 25px; */
}
#pm .container .mark {
    width: 110px;
    height: 3px;
    background-color: #a2c233;
    position: absolute;
    /* left: 5px; */
}
#pm .container h1 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 20px;
}
#pm .container > ul {
    width: 100%;
    height: 630px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#pm .container ul > li {
    width: 100%;
    height: 500px;
    /* outline: 1px solid blue; */
    margin-bottom: 50px;
}
#pm .container ul > li > img {
    width: 100%;
    height: 300px;
}
#pm .container ul > li > h2 {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 700;
}
#pm .container ul > li > p {
    margin-top: 25px;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
}

/* 기술 특허 */
#tech {
    margin-top: 0px;
    margin-bottom: 50px;
    width: 100vw;
    height: 320px;
    /* background-color: #ccc; */
    padding: 0 20px;
}
#tech .container {
    max-width: 1920px;
    height: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}
#tech .container .techBanner {
    width: 100%;
    height: 100%;
    /* outline: 1px solid red; */
    background-image: url(../images/imagesK/sub_2_0_tech_back.jpg);
    padding-top: 115px;
}
#tech .container .mobile_ver {
    color: white;
    font-size: 16px;
    text-align: center;
    margin: 0px 30px;
    margin-bottom: 30px;
}
#tech .container .pc_ver {
    display: none;
}
#tech .container button {
    width: 160px;
    height: 50px;
    background: none;
    border: 1.5px solid #fff;
    margin-left: 100px;
}
#tech .container button > span {
    font-size: 15px;
    color: #fff;
}

/* 특허증 */
#tech .container > #paper {
    width: 100%;
    height: 500px;
    /* outline: 1px solid blue; */
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    left: 0;
    /* z-index: 99; */
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}
#paper .close {
    /* outline: 1px solid blue; */
    position: relative;
    height: 60px;
}
#paper .close button {
    width: 100px;
    height: 50px;
    background: none;
    border: 1.5px solid #fff;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    position: absolute;
    right: 40px;
}
#paper .images {
    /* outline: 1px solid red; */
    width : 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* animation: translate 20s infinite; */
    
}
/* @keyframes translate {
    from {
        translate: 0px;
    }
    to {
        translate: -4900px;
    }
} */

#paper .images img {
    outline: 1px solid black;
    width: 250px;
    height: 350px;
    margin-top: 30px;
    margin-left: 60px;
    float: left;
}
