/* sub_2_0 */

/* reset.css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Noto Sans KR", sans-serif;
  }

/* header */
.header {
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    margin: 0;
  }
  
  .header a {
    color: #000;
  }
  
  /* 좌측 로고 style  */
  
  .logo a img {
    width: 129px;
    height: 57px;
  }
  
  .logo {
    height: 90px;
    display: flex;
    align-items: center;
  }
  
  /* header 중앙 GNB style 입니다. */
  
  nav {
    height: 90px;
  }
  
  nav > ul {
    font-size: 16px;
    font-weight: 700;
  }
  
  .dep1_ul {
    height: 100%;
    display: flex;
    position: relative;
  }
  
  .dep1_ul > li {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .dep2_ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    width: 150px;
    background: #fff;
  }
  
  .dep1_li:hover .dep2_ul {
    max-height: 200px;
    transition: 1s;
  }
  
  .dep2_li {
    margin-bottom: 10px;
  }
  
  /* header 우측 ui style 입니다. */
  
  .header_ui {
    height: 90px;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .lang {
    height: 100%;
  }
  
  .lang a {
    display: flex;
    align-items: center;
    margin-right: 45px;
    height: 100%;
    width: 100%;
  }
  
  .lang a svg {
    margin-left: 10px;
  }
  
  .lang a ul {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    background: #fff;
    width: 40px;
    text-align: left;
  }
  
  .lang a:hover ul {
    max-height: 200px;
    transition: 1s;
  }
  
  .m_btn a {
    display: flex;
    align-items: center;
  }
  
  /* ========================================================================== */
  
  /* site_map 스타일입니다. */
  
  .site_map {
    display: none;
  }
  
  .site_map_open {
    display: block;
  }
  
  /* site_map 의 상단입니다. */
  
  .site_map {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    padding: 40px 100px;
    /* display: none; */
  }
  
  .site_map_upper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  
  .site_map_logo {
    width: 25%;
  }
  
  .site_map_header_ui {
    width: 25%;
  }
  
  .site_map_logo a img {
    width: 129px;
    height: 57px;
  }
  
  /* site_map 의 하단입니다. */
  
  .site_map_nav {
    height: 100%;
  }
  
  .site_map_dep1_ul {
    display: flex;
    padding-top: 80px;
    text-align: center;
  }
  
  .site_map_dep1_li {
    width: 25%;
  }
  
  .site_map_dep1_li > a {
    font-size: 16px;
    color: #999;
  }
  
  .site_map_dep2_ul {
    padding-top: 25px;
  }
  
  .site_map_dep2_li {
    line-height: 2rem;
  }
  
  .site_map_dep2_li > a {
    font-size: 16px;
    color: #000;
  }
  
  /* ========================================================================== */
/* footer 박스의 style 입니다. */

.footer {
    width: 100vw;
    height: 220px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
  }
  /* footer 의 왼쪽 영역입니다. */
  
  .footer_left {
    padding: 26px 0 48px 300px;
    /* outline: 1px solid red; */
  }
  
  .footer_left_upper {
    height: 67px;
    display: flex;
    /* outline: 1px solid red; */
  }
  
  .footer_left_upper a img {
    width: 152px;
    height: 67px;
    /* outline: 1px solid blue; */
  }
  
  .footer_left_info_1 {
    display: flex;
    padding: 24px 0 0 39px;
    /* outline: 1px solid blue; */
  }
  
  .footer_left_upper a {
    color: #000;
  }
  
  .footer_left_info_1 p:first-child {
    font-size: 14px;
    font-weight: bold;
  }
  
  .footer_left_info_1 p:last-child {
    font-size: 14px;
    margin-left: 33px;
  }
  
  .footer_left_info_2 {
    margin-top: 35px;
    font-size: 12px;
    /* outline: 1px solid red; */
  }
  
  /* footer 의 오른쪽 영역입니다. */
  
  .footer_right {
    padding: 41px 300px 77px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    /* outline: 1px solid red; */
  }
  
  .sns_btn {
    width: 170px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .family_site {
    width: 204px;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  






/* sub_main_ banner */
.sub_2 .sub_main_banner {
    width: 100vw;
    height: 500px;
    /* background-color: #ccc; */
    margin: 0 auto;
}
.sub_main_banner .container {
    max-width: 100%;
    height: 100%;
    background-image: url(../images/imagesk/resaerch_main_banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.sub_main_banner .container h1 {
    color: white;
    font-size: 80px; 
    margin: 0 auto;   
}

/* sub_menu */
.sub_2 .sub_menu {   
    max-width: 1520px;
    height: 20px;
    display: fixed;
    left:0px;
    top: 520px;
    padding: 20px;
    margin: 0 auto;
    margin-top: 20px;
}
.sub_2 .sub_menu > a{
    font-size: 14px;
    margin: 0 auto;
}

/* sub_title */
.sub_2 .sub_title {
    width: 100%;
    height: 700px;   
    margin: 0 auto;
    margin-top: 50px;
}
.sub_2 .sub_title .container {
    max-width: 1920px;
    height: 100%;  
    position: relative;
    /* outline: 1px solid blue; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 50px;
}
.sub_2 .sub_title .container .text {
    width:1520px;
    position: relative;
    margin: 0 auto;
}
.sub_2 .sub_title .container .text .mark {
    width: 130px;
    height: 3px;
    background-color: #a2c233;
    position: absolute;
    left: 0;
    margin: 0 auto;
}
.sub_2 .sub_title p {
    font-size: 50px;
    padding-top: 10px;    
    margin: 0 auto;
    margin-bottom: 50px;
}
.sub_2 .sub_title .pc_img {
    width: 1520px;
    margin: 0 auto;
} 
.sub_2 .sub_title .mobile_img {
    display: none;
    margin: 0 auto;
} 

/* 연구소 소개 */
#center {
    width: 100vw;
    height: 1350px;
    margin: 0 auto;
}
#center .container {
    max-width: 1920px;
    height: 100%;
    /* outline: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
#center .container .text {
    width: 1520px;
    position: relative;   
    margin-bottom: 100px;
    /* outline: 1px solid red; */
    margin: 0 auto;
    margin-top: 160px;
}
#center .container .mark {
    width: 130px;
    height: 3px;
    background-color: #a2c233;
    position: absolute;
    left: 5px;
    margin: 0 auto;
}
#center .container h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 0 auto;
}
#center .container .pc_img {
    width: 1520px;
    margin-bottom: 100px;
    margin: 0 auto;
}
#center .container .mobile_img {
    display: none;
    margin: 0 auto;
}

/* 제품 개발 */
.sub_2 #pm {
    width: 100vw;
    /* height: 1000px; */
    margin: 0 auto;
}
#pm .container {
    max-width: 1920px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
#pm .container .text {
    width: 1520px;
    position: relative;    
    margin: 0 auto;
    margin-top: 160px;
    margin-bottom: 100px;
}
#pm .container .mark {
    width: 130px;
    height: 3px;
    background-color: #a2c233;
    position: absolute;
    left: 5px;
    margin: 0 auto;
}
#pm .container h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 0 auto;
}
#pm .container > ul {
    width: 1520px;
    height: 630px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
#pm .container ul > li {
    width: 450px;
    height: 630px;
    margin: 0 auto;
}
#pm .container ul > li > h2 {   
    font-size: 26px;
    font-weight: 500;
    margin: 0 auto;
    margin-top: 25px;
}
#pm .container ul > li > p {   
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    margin: 0 auto;
    margin-top: 25px;
}

/* 기술 특허 */
#tech {
    width: 100vw;
    height: 500px;
    /* background-color: #ccc; */
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 200px;
}
#tech .container {
    max-width: 1920px;
    height: 100%;
    position: relative;
    margin: 0 auto;
}
#tech .container .techBanner {
    max-width: 1520px;
    height: 100%;
    /* outline: 1px solid red; */
    background-image: url(../images/imagesK/tech_background.jpg);
    padding-top: 115px;
    margin: 0 auto;
}
#tech .container .pc_ver {
    color: white;
    font-size: 48px;   
    margin: 0 auto;
    margin-bottom: 80px;
    margin-left: 100px;
}
#tech .container .mobile_ver {
    display: none;
    margin: 0 auto;
}
#tech .container button {
    width: 160px;
    height: 50px;
    background: none;
    border: 1.5px solid #fff;   
    margin: 0 auto;
    margin-left: 100px;
}
#tech .container button > span {
    font-size: 15px;
    color: #fff;
    margin: 0 auto;
}

/* 특허증 */
#tech .container > #paper {
    max-width: 1920px;
    height: 650px;
    /* outline: 1px solid blue; */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    margin: 0 auto;
}
#paper .close {
    /* outline: 1px solid blue; */
    position: relative;
    height: 60px;
    margin: 0 auto;
}
#paper .close button {
    width: 160px;
    height: 50px;
    background: none;
    border: 1.5px solid #fff;
    margin-bottom: 10px;
    position: absolute;
    right: 100px;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 10px;
}
#paper .images {
    /* outline: 1px solid red; */
    width : 6750px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: translate 20s infinite;
    margin: 0 auto;
    
}
@keyframes translate {
    from {
        translate: 0px;
    }
    to {
        translate: -4900px;
    }
}

#paper .images img {
    outline: 1px solid black;
    width: 400px;
    height: 500px;
    margin: 0 auto;
}